##  Exploring Age, Gender, and Health Conditions as Predictors of Mortality in Heart Failure Patients

### Table of Contents
1. Project Overview**# 
1.1 Introduction*# *
1.1.1 Problem Statement# **
1.2 Objectives**
2. Importing Packages**
3. Loading Data**
4. Data Cleaning**
5. Exploratory Data Analysisn6g Sprints
10. 7nclusion**
11. References

### Project Overview

### Introduction

Cardiovascular diseases (CVDs) are the leading cause of death worldwide, with heart failure being a major contributor. Understanding the factors that influence mortality in heart failure patients—particularly age, gender, and pre-existing conditions like hypertension and diabetes—can help in identifying high-risk individuals and improving patient outcomes.

This project explores the relationships between demographic factors and health conditions in predicting mortality among heart failure patients. Using a dataset with 12 key variables from 299 patients, we aim to develop a machine learning model that can assess mortality risk, providing insights that could support healthcare providers in early intervention and personalized treatment strategies

### Problem statement 

Heart failure, a common outcome of cardiovascular disease, presents a significant mortality risk globally. Early identification of patients at high risk can support proactive healthcare and reduce mortality. This project explores the influence of age, gender, and coexisting health conditions on mortality in heart failure patients, aiming to provide actionable insights for improved patient management

### Objectives

1. To analyze how age and gender impact the prevalence of health conditions (e.g., diabetes, hypertension, anemia) in  heart failure patients.
2. To assess mortality risk across different demographic groups and health conditions.

### Importing Packages

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind

### Loading data

In [28]:
import pandas as pd

# Read the dataset into a DataFrame
df = pd.read_csv('C:/Users\Tracy\Documents\Python project Team 6\heart_failure_clinical_records_dataset.csv')
df= pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.head()

<>:4: SyntaxWarning: invalid escape sequence '\T'
<>:4: SyntaxWarning: invalid escape sequence '\T'
C:\Users\Tracy\AppData\Local\Temp\ipykernel_17172\3944064613.py:4: SyntaxWarning: invalid escape sequence '\T'
  df = pd.read_csv('C:/Users\Tracy\Documents\Python project Team 6\heart_failure_clinical_records_dataset.csv')

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [29]:
df.shape

(299, 13)

import pandas as pd

# Read the dataset into a DataFrame
df = pd.read_csv('C:/Users\Tracy\Documents\Python project Team 6\heart_failure_clinical_records_dataset.csv')
df .info()

### Data Cleaning